<!doctype html>
<html>
<head>
	
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Købstaden.dk | Få en webshop i Købstadens online shoppingcenter</title>
  <meta name="description" content="Købstaden er Danmarks nye online shoppingcenter. Shop blandt hundredevis af spændende danske lokalbutikker, ét samlet sted.">
  <meta name="author" content="Købstaden">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="knC_RXTZW3Uw3OMHIJKScQAezz_Fj2Ut_h3CkKiYDpM" />
  <meta property="og:image" content="http://www.kobstaden.dk/static/images/logo.png" /> 
  <meta property="og:title" content="Købstaden er Danmarks første online storcenter." /> 
  <meta property="og:description" content="Hos købstaden har vi gjort det nemt for dig at komme i gang med at sælge mere på nettet." /> 
  <meta property="og:url" content="http://www.kobstaden.dk"> 
	
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/stylesheet/compiled/main.css">
  <script src="/static/javascript/libs/modernizr-2.0.6.min.js"></script>

</head>
<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=214029271984815";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
	</script>
  <div id="container">
		<div id="header-wrapper">
			<header>
				<a href="#forside"><img src="/static/images/logo.png" alt="Købstaden Logo" class="button" rel="forside"/></a>
			</header>
		</div>
		<div id="main-wrapper" role="main">
			<div id="main">

				<div id="content-0" rel="forside" class="content visible">
					<div class="section-wrapper section-center">
						<section>
							<h2>Købstaden er Danmarks første online shoppingcenter.</h2>
							<h3>Shop blandt hundredevis af spændende<br /> danske lokalbutikker, ét samlet sted.</h3>
							<div class="video">
								<a href="http://www.youtube.com/watch?v=1QhyhtAAskY" id="front-videoplay"><img src="/static/images/video-play.png" alt="Intro video til butikker" /></a>
								<img id="front-videoplaceholder" src="/static/images/video-placeholder.png" alt="Intro video til butikker" />
								<div id="front-videoembed">
									<div id="front-videoembed-replacer"></div>
								</div>
							</div>
							<p>Har du en spændende butik? Se hvad du kan få ud af Købstaden i videoen eller <a rel="hoer-mere" class="button" href="#hoer-mere">kontakt os.</a></p>
							<a href="http://facebook.com/kobstaden" class="social" target="_blank"><img src="/static/images/social-facebook.png" alt="Købstaden på Facebook" /></a>
							<a href="http://twitter.com/kobstaden" class="social" target="_blank"><img src="/static/images/social-twitter.png" alt="Købstaden på Twitter" /></a>
							<a href="http://www.youtube.com/watch?v=1QhyhtAAskY" class="social" target="_blank"><img src="/static/images/social-youtube.png" alt="Købstaden på YouTube" /></a>							
						</section>
					</div>
					<div class="section-wrapper section-bottom">
						<form id="signup">
							<p>Få besked når vi går i luften sommeren 2012:</p>
							<input type="text" name="email" class="input-email" placeholder="f.eks. john@doe.dk" /><input type="submit" value="Tilmeld" class="input-submit" />
							<span class="validation-error">E-mail er ikke gyldig, check din indtastning</span>
						</form>
					</div>									
				</div>

				<div id="content-1" rel="hvad" class="content">
					<h2>Købstaden Shoppingcenter - til gavn for både køber og sælger</h2>
					<p>Det behøver ikke være en videnskab at sælge på nettet. Købstaden er Danmarks første online shoppingcenter og vi har gjort det let for køber og sælger at mødes under perfekte vilkår. <br /><br>
					<img src="/static/images/icon-globemap.png" alt="Beliggenhed" class="image-right"/>
					<h3>Beliggenhed, beliggenhed og atter beliggenhed</h3>
					<p>Beliggenhed har altid været en helt afgørende parameter for succes af fysiske forretninger. Det er faktisk ikke anderledes på nettet. Danske internetbutikker bruger umådeligt mange ressourcer på at skabe trafik og kæmpe om en midlertidig plads på Google. Stadig er det danske e-handelsmarked særdeles fragmenteret, og det forbrugerne i virkeligheden efterspørger er samlingspunkter.
					<br>I Købstadens shoppingcenter bliver du en del af et fællesskab – et netværk af netværk, hvor butikkerne nyder godt af hinandens trafik, i stedet for at kæmpe om den.</p>
					<br>
					<img src="/static/images/icon-flyingnewshop.png" alt="Køreklar løsning" class="image-left"/><br>
					<h3>Køreklar løsning</h3>
					<p>På Købstaden får du en køreklar webshop, hvor du kan sælge alt fra mode, til elektronik, til vin og delikatesser. Vores erfarne og passionerede hold af udviklere klarer al teknik og udvikling, og du får en intuitiv løsning, hvor der er sørget for webshop, kortaftale, betalingssystem og en ventende kundekreds. Sæt i gang!</p>
					<br><br><br>
					<img src="/static/images/icon-brugeroplevelse.png" alt="Brugeroplevelse" class="image-right"/>
					<h3>Unik brugeroplevelse</h3>
					<p>Alle features på Købstaden er nøje udarbejdet med kunderne i fokus. For eksempel har vi udviklet et unikt betalingssystem, der gør det muligt for kunderne at shoppe frit på kryds og tværs af alle centrets spændende butikker og afslutte med én samlet betaling. Det skaber krydssalg og mersalg for din butik – og gør shopping oplevelsen lidt lettere og sjovere for kunden.</p>
					<img src="/static/images/icon-graf.png" alt="At sælge" class="image-left"/><br>
					<h3>At sælge eller blot at sætte til salg</h3>
					<p>Alt for mange danske netbutikker oplever utilfredsstillende salg. Mange oplever online marketing som lidt af en videnskab og ofte en yderst bekostelig affære. Hos Købstaden står eksperter for markedsføringen, så du kan koncentrere dig om det du gør bedst. Du kan føle dig sikker, da Danmarks bedste AdWords konsulenter personligt står for at administrere din konto. Du får desuden del i en unik kundekreds skabt af alle centerets butikker. Et fællesskab der er konstant voksende og som konkurrenterne ikke kan slå.</p>
					<img src="/static/images/icon-freight.png" alt="At sælge" class="image-right"/><br><br />
					<h3>Effektiv lagerstyring og levering</h3>
					<p>Som et supplement til din centerbutik tilbyder vi en effektiv lagerløsning med komplet outsourcing af din logistik. Dine varer opbevares på lager og der tages af alt fra varemodtagelse, pladsering på reoler til plukning, pakning og rapportering i dit lagersystem. Vil du bruge din tid og energi på din forretning, så overlad al logistikken til os. Blandt fordelene er sparet tid, mindre lager, øget kundetilfredshed og billig fragt. <br />Ønsker du din egen fragtløsning hjælper vi også gerne med det.</p>					
					<img src="/static/images/icon-security-large.png" alt="Sikkerhed" class="image-left"/><br><br />
					<h3>Sikkerhed frem for alt</h3>
					<p>Gennem stærke partnerskaber har vi sikret den højest mulige sikkerhed for din butik. Din kortaftale kommer fra Teller/PBS, som er Nordens største indløser af betalingskort, og vores unikke betalingsgateway kommer fra DIBS Payment Services, som er Nordens førende udbyder af betalingsløsninger. Du kan derfor sove trygt velvidende om, at din netbutik har markedets højeste sikkerhed</p>
					<img src="/static/images/icon-sparegris.png" alt="Hvad koster det?" class="image-right"/><br>
					<h3>Hvad koster det?</h3>
					<p>I den fysiske verden går pris og beliggenhed hånd i hånd. Hos Købstaden er det lige modsat. Vi garanterer en større kundekreds og markedets billigste webshop løsning på samme tid. <br> Har du en spændende butik? Kontakt os og ansøg om at blive en del af Danmarks første online shoppingcenter.</p>
					<br><br><br>
					<div class="table">
						<h2 class="headline">Alt dette får du med i pakken:</h2>
						<table>
							<tr class="row1">
								<td>
									<div class="image">
										<img src="/static/images/icon-exposure_round.png" alt="Butik" />
									</div>
									<strong>Markant eksponering</strong>
									<ul>
										<li>Ekstraordinær kundekreds – skabt af alle centerets butikker.</li>
										<li>Unikke krydssalgsmuligheder.</li>
										<li>Markedsføring: både offline og online.</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-thumbsup_round.png" alt="Butik" />
									</div>
									<strong>Billigt</strong>
									<ul>
										<li>Ingen skjulte gebyrer.</li>
										<li>Lille successgebyr ved gennemført salg.</li>
										<li>Danmarks billigste webshopløsning</li>
									</ul>
								</td>
							</tr>
							<tr class="row2">								
								<td>
									<div class="image">
										<img src="/static/images/icon-brick_round.png" alt="Butik" />
									</div>
									<strong>Nemt og smertefrit</strong>
									<ul>
										<li>Lynhurtig oprettelse.</li>
										<li>Sæt dine varer til salg uden besvær.</li>
										<li>Importér dit varekatalog fra din nuværende webshop</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-service_round.png" alt="Butik" />
									</div>
									<strong>Dedikeret service</strong>
									<ul>
										<li>Fokuseret rådgivning.</li>
										<li>Vejledning i salg på Købstaden.</li>
										<li>Videoer med tips &amp; tricks</li>
									</ul>
								</td>
							</tr>
							<tr class="row3">								
								<td>
									<div class="image">
										<img src="/static/i	mages/icon-lock_round.png" alt="Butik" />
									</div>
									<strong>Kvalitet og sikkerhed</strong>
									<ul>
										<li>Unikt betalingssystem, der muliggør flere handler ved ét checkout.</li>
										<li>Højeste sikkerhedsniveau.</li>
										<li>Modtag danske og udenlandske kredit kort.</li>
										<li>Bygget på Googles infrastruktur, der sikrer dig maksimal driftsikkerhed</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-ekstra_round.png" alt="Butik" />
									</div>
									<strong>Ekstra</strong>
									<ul>
										<li>Ubegrænset gebyrfrit varekatalog.</li>
										<li>Mulighed for professionel produktfotografering.</li>
										<li>Mulighed for professionel print.</li>
										<li>Mulighed for at dele dine varer på diverse sociale medier</li>
									</ul>
								</td>
							</tr>
						</table>
					</div>
				</div>

				<div id="content-2" rel="hvordan" class="content">
					<h2>Købstaden webshop bag scenetæppet</h2>
					<a class="screenshot-right" style="clear:both; margin-bottom: 20px" target="_blank" href="http://youtu.be/vme5cNklXaQ">
						<img src="/static/images/screenshot-screencast-thumb.jpg" alt="Screencast af butik- og produktsider"/>
						<span>Screencast af butik- og produktsider</span>
					</a>
					<a class="screenshot-right fancybox" style="clear:both" href="/static/images/screenshot-shop-rieb.jpg">
						<img src="/static/images/screenshot-shop-rieb-thumb.jpg" alt="Butiksside eksempel"/>
						<span>Eksempel på Købstaden butiksside</span>
					</a>
					<h3>Opret webshop og varer</h3>
					<p>At oprette og drive en webshop på Købstaden er let. Du vælger et navn til din shop som derefter får adressen www.købstaden.dk/butiksnavn. Derefter tildeler du logo/billede af butikken, samt beskrivelse og firmainfo. Nu er du klar til at oprette varer, tildele billeder/videoer, beskrivelse, pris etc. <br><br><span class="bold">Såfremt du allerede har en webshop, så kan vi også trække hele dit varekatalog fra din eksisterende shop til din Købstaden shop – lettere bliver det ikke.</span><br><br>
					PS. Som ny butik modtager du en udførlig guide der hjælper dig i gang. Du har desuden altid adgang til simple instruktionsvideoer der hjælper dig med det praktiske, samt tips &amp; tricks og nye features. Det hele er meget intuitivt og skulle du alligevel have brug for hjælp sidder vi altid klar ved telefonen ☺ </p>
					<br>
					<a class="screenshot-left fancybox" href="/static/images/screenshot-categories-uresmykker.jpg">
						<img src="/static/images/screenshot-categories-uresmykker-thumb.jpg" alt="Kategorier eksempel"/>
						<span>Eksempel på Købstaden kategorier</span>
					</a>
					<br>		
					<h3>Samlet vareoversigt</h3>
					<p>Alle dine varer findes selvfølgelig i din Købstaden webshop, men også i en samlet vareoversigt med overordnede afdelinger og en smart søgefunktion, der gør shopping lettere og bedre for kunden. På den måde fungerer det som et shoppingcenter eller gågade, hvor kunderne på en overskuelig måde kan finde hvad de leder efter. Det er det der gør Købstaden til en central shopping destination.</p>
					<br><br><br>
					<img src="/static/images/icon-bills.png" alt="Webshop" class="image-right"/><br>
					<h3>Glem alt om regninger</h3>
					<p>Vores betalingssystem er intet mindre end enestående. Uanset hvor mange butikker en kunde handler fra sker det hele i én indkøbskurv og afsluttes med én betaling. Hver butik modtager derefter automatisk betaling fra deres respektive varer og Købstaden sit succesgebyr. Du slipper derfor for opkrævninger og papirarbejde – det hele er automatiseret.</p>
					<br />
					<div class="demands">
						<h2>Hvad kræves af dig?</h2>
						<div class="demand-box">
							<h3>Send</h3>
							<img src="/static/images/simple-icons/troll.png" alt="Send" class="demand-image"/>
							<p>
								Når der kommer en ordre i butikken er det bare med at få den behandlet i en fart. Din kunde får automatisk en ordrebekræftelse og du modtager besked, både på e-mail og i dit administrationsmodul. Derefter sender du pakken afsted mod den glade kunde, der automatisk modtager sin faktura. Ved eventuel retur udfylder kunden en simpel formular, printer og sender pakken tilbage til dig.
							</p>
						</div>
						<div class="demand-box">
							<h3>Service</h3>
							<img src="/static/images/simple-icons/heart.png" alt="Service" class="demand-image"/>
							<p>
								God service er nøglen til tilbagevendende kunder. Husk at du som butik repræsenterer hele centret og alle dine naboer. God service er derfor et must. Husk også at holde status på lagersituation så du ikke lover mere end hvad du kan holde. På den måde sikrer vi os at alle centrets kunder forbliver glade og tilfredse.
							</p>
						</div>
						<div class="demand-box">
							<h3>Share</h3>
							<img src="/static/images/simple-icons/share.png" alt="Share" class="demand-image"/>
							<p>
								At have en butik i et center betyder at du er en del af et større fællesskab. Vi håber derfor at alle vores butikker vil være med til at komme med gode tips og dele deres købmands-viden med deres naboer. Købstaden har blandt andet et forum for butikkerne, hvor der er rig mulighed for at hjælpe hinanden på bedste vis. Vi opsamler løbende den bedste viden, tips og tricks, som vi deler med butikkerne.
							</p>
						</div>						
					</div>
				</div>
				
				<div id="content-3" rel="hoer-mere" class="content">
					<h2>Kontakt</h2>
					<h3>Passer din butik perfekt ind i vores online shoppingcenter?</h3>
					<span>Vi er i fuld gang med at samle spændende kvalitetsbutikker til lanceringen af Danmarks første online shoppingcenter. Du kan stadig nå, at være med blandt de første 100 og få del i kampagnetilbudet.<br>
						Er du interesseret i at høre mere? Udfyld nedenstående formular, så kontakter vi dig hurtigst muligt med et tilbud. Det er ganske uforpligtende og dine oplysninger bliver ikke delt videre.</span>
						<br /><br />					
					<!-- BEGIN Podio web form -->
					<script src="http://podio.com/webforms/895028/37986.js"></script>
					<script type="text/javascript">
					  _podioWebForm.render("37986")
					</script>
					<!-- END Podio web form -->
					<h3>Anden kontakt</h3>
					<p>
						<table border="0">
							<tr><td>Generel information:</td><td><a href="mailto:info@kobstaden.dk">info@kobstaden.dk</a></td></tr>
							<tr><td>Support:</td><td><a href="mailto:support@kobstaden.dk">support@kobstaden.dk</a></td></tr>
							<tr><td>Investor:</td><td><a href="mailto:finance@kobstaden.dk">finance@kobstaden.dk</a></td></tr>
							<tr><td>Presse og omtale:</td><td><a href="mailto:media@kobstaden.dk">media@kobstaden.dk</a></td></tr>
						</table>
					</p>
				</div>

				<div id="content-4" rel="hvem" class="content">
					<h2>Familien i Skyen</h2>
					<p>
						Her hos Købstaden er vi en gruppe af mennesker med vidt forskellig baggrund, men ét fælles ønske – at gøre dansk e-handel bedre. Vi er passionerede omkring e-handel og har flere års erfaring, bag skærmen med webudvikling, såvel som foran skærmen som ivrige e-shoppere.
					</p>
					<p>
						Vi er altid nytænkende og opmærksomme på nyeste trends og tendenser. Vi hader skjulte gebyrer og ”det med småt” men elsker god kundeservice og følelsen af, at der er nogen bag skærmen. Vi har øje for detalje og er altid åbne og imødekommende. Skulle du ønske at lære familien bedre at kende, er du altid velkommen til at give os et ring på 7199 0720.
					</p>
					<h2>Familiemedlemmer</h2>
					<div class="employee">
						<table>
							<tr>
								<td><img src="/static/images/team-mikkel_BW.jpg"></td>
								<td>
									<h2>Mikkel Fabricius</h2>
									<h3>Salgschef</h3>
									<span class="mailme">mf at kobstaden dot dk</span>
									<p>Mikkel er Købstadens hovedarkitekt. Ingen detalje går hans kritiske øje forbi og han sørger for at hver en feature på Købstaden er skræddersyet til Købstadens ideologi. Mikkel er cand.merc. fra CBS og har tidligere erfaring med regnskab, markedsføring, idéudvikling og projektstyring. Mikkel har rengøringsvanvid og elsker golf.</p>
								</td>
							</tr>
							<tr>
								<td><img src="/static/images/team-klaus_BW.jpg"></td>
								<td>
									<h2>Klaus Jespersen</h2>
									<h3>Marketingschef</h3>
									<span class="mailme">kjc at kobstaden dot dk</span>
									<p>Klaus har erfaring med online marketing og webanalyse. Han har en baggrund fra CBS som Cand.merc og han er tosset med golf og whiteboards.</p>
								</td>
							</tr>
							<tr>
								<td><img src="/static/images/team-jakob_BW.jpg"></td>
								<td>
									<h2>Jakob Holmelund</h2>
									<h3>Chefprogrammør</h3>
									<span class="mailme">jhh at kobstaden dot dk</span>
									<p>Jakob er Købstadens chefprogrammør og elsker at snakke i koder. Han har en bachelorgrad fra DTU som softwareingeniør og brænder for at udvikle Købstaden, som Danmarks bedste online shoppingcenter. Af Jakobs tidligere arbejdsgivere kan nævnes Downtown.dk og Basepoint Media.</p>
								</td>
							</tr>							
							<tr>
								<td><img src="/static/images/team-lasse.jpg"></td>
								<td>
									<h2>Lasse Boisen Andersen</h2>
									<h3>Chefdesigner</h3>
									<span class="mailme">la at kobstaden dot dk</span>
									<p>Lasse er UI-udvikler og har til opgave, at gøre Købstaden lækker at bruge og se på. Han har studeret på IT-Universitetet i København, er medstifter af iværksætterorganisationen ITU Innovators og har tidligere erfaring med udvikling af kundetilpassede webløsninger. Lasse <3 digitale medier og internettets muligheder - og så går han med sixpence og ryger e-pibe.</p>
								</td>
							</tr>											
							<tr>
								<td><img src="/static/images/team-dan.jpg"></td>
								<td>
									<h2>Dan True</h2>
									<h3>Backend-udvikler</h3>
									<span class="mailme">dt at kobstaden dot dk</span>
									<p>Dan er backend webudvikler og udvikler de tunge bagvedliggende funktioner, der gør Købstaden intelligent. Han har en bachelorgrad fra DTU som softwareingeniør og har erfaring med programmering af bl.a. kunstig intelligens og har desuden arbejdet med statistik hos CEM Institute. Vi andre må som ofte stå og se til i forundring når Dan skriver sine algoritmer op på tavlen..</p>
								</td>
							</tr>
							<tr>
								<td><img src="/static/images/team-soren.jpg"></td>
								<td>
									<h2>Søren Louv-Jansen</h2>
									<h3>Backend-udvikler</h3>
									<span class="mailme">sl at kobstaden dot dk</span>
									<p>Søren roder med Købstadens bagvedliggende kode og er passioneret omkring udvikling af nye features til Købstaden. Han studerer til dagligt på IT Universitetet og har tidligere erfaring som webudviklingskonsulent. I weekender renoverer Søren sin nyindkøbte lejlighed for fulde drøn.</p>
								</td>
							</tr>
							<tr>
								<td><img src="/static/images/team-vanja.jpg"></td>
								<td>
									<h2>Vanja Cosic</h2>
									<h3>Frontend-udvikler</h3>
									<span class="mailme">vanjacosic at gmail dot com</span>
									<p>Vanja er frontend-udvikler med stor erfaring indenfor webdesign, blandt andet fra webbureauet Supertusch. Sammen med Lasse, sørger de for at Købstadens ydre altid er præsentabelt og velfungerende. Som en del af ITU Innovators bestyrelse har han altid fingeren på pulsen indenfor IT-iværksætteri. Vanja er nærmest manisk omkring design helt ned til sidste pixel og han snakker lige så hurtigt som han programmerer.</p>
								</td>
							</tr>							
							<tr>
								<td><img src="/static/images/team-senior.jpg"></td>
								<td>
									<h2>Klaus Colding</h2>
									<h3>Økonomichef</h3>
									<p>Klaus sørger for, at der er styr på nøgletal, bilag og økonomiske målsætninger. Han har mere end 30 års erfaring som økonomichef og det nyder vi godt af hos Købstaden. I fritiden planter Klaus kartofler og stikkelsbær i sin fine have.</p>
								</td>
							</tr>
						</table>
					</div>
					<br />
					<br />
					<h2>Samarbejdspartnere</h2>
					<div class='partners'>
						<table>
							<tr>
								<td><a href="http://www.dibs.dk"><img src="/static/images/dibs.png"></td>
								<td>
									<h3>DIBS Payment Services</h3>
									<p>DIBS Payment Services er Nordens ubestridt førende udbyder af internet betalingsløsninger. Sikkerhed og troværdighed er afgørende nøgleord for DIBS, der dagligt håndterer tusindvis af betalingstransaktioner for sine kunder.</p>
								</td>
							</tr>
							<tr>
								<td><a href="http://www.euroline.se/da"><img src="/static/images/euroline-logo.png" alt="Teller logo" ></td>
								<td>
									<h3>Euroline</h3>
									<p>Euroline er den største udbyder af indløsningaftaler i Skandinavien. Euroline AB er et helejet datterselskab af SEB, en af Europas førende banker, som leverer finansielle tjenester til erhvervskunder, institutioner og privatpersoner.</p>
								</td>
							</tr>
	      					<tr>
								<td><a href="http://www.clglogistics.dk"><img src="/static/images/clg-logistics-logo.png" alt="Webstock logo"></td>
								<td>
									<h3>CLG Logistics</h3>
									<p>CLG Logistics tilbyder særdeles fordelagtige fragt- og håndteringspriser. Denne løsning er det perfekte supplement til Købstadens webshop, idet bestilte ordrer automatisk udsendes til kunden, så butikkerne kan fokusere på at drive forretning og ikke bruge tid på at håndtere forsendelser.</p>
								</td>
							</tr>
							<tr>
								<td><a href="http://www.kelkoo.dk/"><img src="/static/images/kelkoo.png" alt="Kelkoo logo"></td>
								<td>
									<h3>Kelkoo</h3>
									<p>Kelkoo.dk er Danmarks førende prisportel og har ca. 900.000 unikke danske brugere om måneden. Kelkoo er en stærk e-handelssamarbejdspartner der tilbyder ekstraordinær profilering i Danmark, i Skandinavien eller i alle ti Kelkoo-lande.  Gennem købstaden kan du hurtigt og let få dine varer på Kelkoo og nyde godt af ekstra trafik til din butik.</p>
								</td>
							</tr>									
						</table>
					</div>
				</div>
				<div id="content-5" rel="priser" class="content">
					<h2>Købstaden Priser</h2>
					<img src="/static/images/icon-balloondude-large.png" alt="Købstaden Balloon">
					<p><strong>Hos Købstaden bliver du en del af Danmarks første online shoppingcenter for 299,- pr. måned.</strong></p>
					<p>Det eneste du derudover skal forholde dig til, er et succesgebyr på 8% når du gennemfører et salg. Kort sagt, vi lever kun af din succes.<p>
					<p>Hvad får du for pengene?</p>
					<ul>
						<li>Din egen unikke webshop i Købstaden Shoppingcenter</li>
						<li>Indløsningsaftale fra Euroline (Modtag danske og udenlandske kort)</li>
						<li>Betalingssystem fra DIBS (Danmarks sikreste løsning)</li>
						<li>Markedsføring - både offline og online</li>
						<li>Tekniske monitorering og optimering</li>
						<li>Service og rådgivning</li>
					</ul><br />
					<p>Kort sagt, alt hvad du skal bruge for at sælge med succes på nettet.</p>
					<p>Vi er sikre på, at du bliver tilfreds med Købstaden. Hvis dette ikke er tilfældet, giver vi dig pengene tilbage inden for de første 3 måneder.</p>
					<p><a rel="hoer-mere" class="button" href="#hoer-mere">Kontakt os</a> for at høre mere og få tilsendt prisinformation. Vi ser frem til at blive en del af din success.<p>
				</div>
			</div>
			<img src="/static/images/coming-soon-badge.png" alt="Kommer snart!" class="coming-soon-badge" />			
	    </div>
		
		<div id="menu-wrapper">
			<div id="menu">
				<a id="button-6" rel="forside" class="button selected" href="#forside">
					<span>Købstaden</span>
				</a>
				<a id="button-1" rel="hvad" class="button" href="#hvad">
					<span>Løsningen</span>
				</a>
				<a id="button-2" rel="hvordan" class="button" href="#hvordan">
					<span>Din butik</span>
				</a>
				<a id="button-5" rel="priser" class="button" href="#priser">
					<span>Priser</span>
				</a>
				<a id="button-4" rel="hvem" class="button" href="#hvem">
					<span>Om os</span>
				</a>				
				<a id="button-3" rel="hoer-mere" class="button" href="#hoer-mere">
					<span>Kontakt os</span>
				</a>
			</div>
		</div>
		<div class="fb-like" data-href="https://www.facebook.com/kobstaden" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
		<div style="height: 5px; width: 90px; display: inline-block; text-indent: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial; "></div>
		<g:plusone size="medium" annotation="bubble" width="50px"></g:plusone>		
	</div> <!--! end of #container -->	
	<div id="footer-wrapper">
		<footer>
			<div id="footer-inner">
				Copyright © 2012 Købstaden ApS &nbsp; | &nbsp; Dampfærgevej 2a &nbsp; | &nbsp; 2100 København Ø &nbsp; | &nbsp; +45 71 99 07 20 &nbsp; | &nbsp; info@kobstaden.dk | &nbsp; CVR: 34228043
			</div>
			<div id="hidden">
				<img src="/static/images/icon-checkmark.gif" alt="OK" />
				<img src="/static/images/icon-exclamation.gif" alt="Advarsel" />
				<img src="/static/images/icon-cross.gif" alt="Fejl" />								
			</div>
		</footer>
	</div>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script src="/static/javascript/main.js"></script>
	
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UA-28594796-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
  	<!-- Google load and SWFOBJECT -->
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
      google.load("swfobject", "2.1");
    </script>    

	<!-- Add fancyBox -->
	<link rel="stylesheet" href="/static/javascript/libs/fancybox/jquery.fancybox.css?v=2.0.5" type="text/css" media="screen" />
	<script type="text/javascript" src="/static/javascript/libs/fancybox/jquery.fancybox.pack.js?v=2.0.5"></script>

	<!-- Optionally add button and/or thumbnail helpers -->
	<link rel="stylesheet" href="/static/javascript/libs/fancybox/helpers/jquery.fancybox-buttons.css?v=2.0.5" type="text/css" media="screen" />
	<script type="text/javascript" src="/static/javascript/libs/fancybox/helpers/jquery.fancybox-buttons.js?v=2.0.5"></script>

	<link rel="stylesheet" href="/static/javascript/libs/fancybox/helpers/jquery.fancybox-thumbs.css?v=2.0.5" type="text/css" media="screen" />
	<script type="text/javascript" src="/static/javascript/libs/fancybox/helpers/jquery.fancybox-thumbs.js?v=2.0.5"></script>
	<script type="text/javascript" src="/static/javascript/libs/jquery.ba-hashchange.min.js"></script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>